<div class="app-container">

  <div class="top-bar">
    <div>
      <app-categories (selectedCategoryEmitter)="filterAnnouncementBasedOnCategory($event)"></app-categories>
    </div>

    <div class="buttons">
      <button mat-fab extended color="primary" [routerLink]="'/add'">Add Annoucement</button>
      <button mat-fab extended color="primary" [routerLink]="'/add'">Edit Announcement</button>
      <button mat-fab extended color="primary" >Delete Annoucement</button>
    </div>
  </div>

  <div>
    <p> {{ notificationMessage }} </p>
    <div *ngFor = "let announcement of filteredAnnouncements" class="announcements">
      <app-announcement
       [message] = announcement.message
       [title] = announcement.title
       [author] = announcement.author
       [id] = announcement.id
       [imageUrl]="announcement.imageUrl"
       (getAnnouncementsFromService)="updateAnnoucementList($event)"
       >
      </app-announcement>
    </div>
  </div>

</div>
