<div class="app-container">

  <div>
    <app-categories (selectedCategoryEmitter)="filterAnnouncementBasedOnCategory($event)"></app-categories>
  </div>

  <div class="buttons">
    <button mat-fab extended color="primary" [routerLink]="'/add'">Add Annoucement</button>
    <button mat-fab extended color="primary" [routerLink]="'/edit'">Edit Announcement</button>
    <button mat-fab extended color="primary" >Delete Annoucement</button>
  </div>

  <div>
    <div *ngFor = "let fAnnouncement of filteredAnnouncements" class="announcements">
      <app-announcement [message] = fAnnouncement.message [title] = fAnnouncement.title [author] = fAnnouncement.author></app-announcement>
    </div>
  </div>

</div>
